<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @requirement.name %>
</p>

<p>
  <strong>Minimum grade:</strong>
  <%= @requirement.min_grade %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @requirement.hours %>
</p>

<p>
  <strong>Take:</strong>
  <%= @requirement.take %>
</p>

<p>
  <strong>Type:</strong>
  <%= @requirement.type %>
</p>

This requirement requires the following:
<table class="table table-striped">
  <% @requirement.children.each do |subrequirement| %>
    <tr>
      <td><%= link_to subrequirement.name, subrequirement %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
