<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @program.hours %>
</p>

<p>
  <strong>Global Minimum Grade:</strong>
  <%= @program.min_grade %>
  </p>

This program requires the following:
<table class="table table-striped">
  <% @program.children.each do |requirement| %>
    <tr>
      <td><%= link_to requirement.name, requirement %></td>
    </tr>
  <% end %>
</table>
<p>
<%= link_to "Add subrequirements", requirement_edges_path(@program) %>
</p>
<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>

